.contact {
  text-align: center;
  display: inline-block; }
  .contact ul.list-social {
    margin-bottom: 0; }
    .contact ul.list-social .list-inline-item {
      margin-right: 10px; }

/* Styling for the masthead */
.masthead {
  position: relative;
  width: 100%;
  padding-top: 20px;
  color: #fff;
  background-color: #000;
  background: "", #000; }
  .masthead .badges .badge-item {
    margin-left: 10px; }
    @media (min-width: 768px) {
      .masthead .badges .badge-item {
        float: left; } }
    @media (min-width: 768px) {
      .masthead .badges .badge-item {
        display: inline-block;
        margin-bottom: 0; } }
  .masthead .badges .badge-link {
    display: block;
    margin-bottom: 25px; }
    .masthead .badges .badge-link:last-child {
      margin-bottom: 0; }
    .masthead .badges .badge-link img {
      height: 60px; }
  .masthead .header-content {
    max-width: 500px;
    text-align: left; }
    .masthead .header-content h1 {
      font-size: 30px; }
  .masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto; }
    .masthead .device-container .screen img {
      border-radius: 3px; }
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      min-height: 778px;
      padding-top: 0;
      padding-bottom: 0; }
      .masthead .header-content {
        margin-bottom: 0;
        text-align: left; }
        .masthead .header-content h1 {
          font-size: 40px; }
      .masthead .device-container {
        max-width: 325px; } }
