.feature-item {
  max-width: 325px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  .feature-item h3 {
    font-size: 30px; }
  .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(to left, #333, #000);
    background: linear-gradient(to left, #333, #000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
