.cta {
  position: relative;
  padding: 250px 0;
  background-position: center; }
  .cta .cta-content {
    position: relative;
    z-index: 1; }
    .cta .cta-content h2 {
      font-size: 50px;
      max-width: 450px;
      margin-top: 0;
      margin-bottom: 25px;
      color: white; }
    @media (min-width: 768px) {
      .cta .cta-content h2 {
        font-size: 80px; } }
  .cta .overlay {
    background: "", #fff;
    background: "", -webkit-linear-gradient(to left, #fff, #fff);
    background: "", linear-gradient(to left, #fff, #fff);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
